{% extends "base.html" %}
{% load static %}

{% load leaflet_tags %}
{% block scripts %}
  {% leaflet_js plugins="forms" %}
  {% leaflet_css plugins="forms" %}
{% endblock %}

{% block content %}
<script type="text/javascript">
    function map_init_basic (map, options) {
      var pto = [{{ object.point.y }},{{ object.point.x }}];
      L.marker(pto).addTo(map);
      map.options.minZoom = 12;
      map.options.maxZoom = 14;
      map.setView(pto,13);
      map.dragging.disable();
      map.touchZoom.disable();
      map.doubleClickZoom.disable();
      // map.scrollWheelZoom.disable();
      map.boxZoom.disable();
      map.keyboard.disable();
      $(".leaflet-control-zoom").css("visibility", "hidden");
    }
</script>
{{object}}
<p><a class="btn btn-default" href="{% url 'event-list' %}">Event Listing</a></p>
<table class="table">
<tr><td>Title</td><td>{{ object.title }}</td></tr>
<tr><td>Direccion</td><td>{{ object.direccion }}</td></tr>
<tr><td>Hash</td><td>{{ object.tags }}</td></tr>
<tr><td>Punto</td><td>{% leaflet_map "mapa" callback="window.map_init_basic" %}</td></tr>
</table>
{# ','.join(str(i) for i in object.point.coords)#}
{# {{object.point.x, object.point.y}}#}


<a class="btn btn-primary" href="{{object.get_update_url}}">Editar</a>

{% endblock %}
