<form action="" method="post">{% csrf_token %}
  <fieldset>
    <legend>{{ title }}</legend>
    {% for field in form %}
      <div class="form-group control-group {% if field.errors %}has-error{% endif %}">
        <label class="control-label" for="{{field.id}}">{{ field.label }}</label>
        <div class="controls ">{{ field }}
          {% if field.help_text %}
          <p class="help-block">{{ field.help_text }}</p>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </fieldset>
  <div class="form-actions">
    <button type="submit" class="btn btn-primary" >Enviar</button>
  </div>
</form>
