{% extends "base.html" %}
{% load leaflet_tags %}

{% load static %}

{% block scripts %}
{% comment %}
{# <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css"
  integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ=="
  crossorigin="" />#}

{# <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"
  integrity="sha512-A7vV8IFfih/D732iSSKi20u/ooOfj/AGehOKq0f4vLT1Zr2Y+RX7C+w8A1gaSasGtRUZpF/NZgzSAu4/Gc41Lg=="
  crossorigin=""></script>#}

  {% endcomment %}

  {% leaflet_js plugins="forms" %}
  {% leaflet_css plugins="forms" %}
  <style media="screen">
    html, body, #mapid {
      height: 100%;
      width: 100%;
    }
    
  </style>
{% endblock %}

{% block content %}
<div id="mapid"></div>
<script>
console.debug("Prueba!")
var map = L.map('mapid').setView([51.505, -0.09], 13);

// create the tile layer with correct attribution
var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
var osmAttrib='Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors';
var osm = new L.TileLayer(osmUrl, {minZoom: 4, maxZoom: 12, attribution: osmAttrib});

// start the map in South-East England
map.setView(new L.LatLng(-34.91, -56.18),9);
map.addLayer(osm);

// L.geoJSON({{ geojson | safe }}, {
//     style: function (feature) {
//         return {color: '#555555'};
//     }
// }).bindPopup(function (layer) {
//     return `<strong>${layer.feature.properties.title}</strong><hr />${layer.feature.properties.direccion}`;
// }).addTo(map);

function modalUpdate(url){
  console.log(`Editando ${url}`);
  $('.modal-body').load(url);
  $('.modal').modal('show');
}

// <button type="button" onclick="modalUpdate('{{ obj.get_update_url }}')" class="btn btn-default">Editar</button>
{% for obj in object_list %}
L.marker([{{ obj.point.y }},{{ obj.point.x }}]).bindPopup(`<p><b>{{obj.title}}</b><br>{{obj.direccion}}.<br /><span class="pull-right"><a  href="{{ obj.get_update_url }}" role="button">Editar</a></span></p>`).addTo(map)
// L.marker([{{ obj.point.y }},{{ obj.point.x }}]).bindPopup(`<p><b>{{obj.title}}</b><br>{{obj.direccion}}.<br /><span class="pull-right"><a onclick="modalUpdate('{{ obj.get_update_url }}')" href="#" role="button">Editar</a></span></p>`).addTo(map)
{% endfor %}


function onLocationFound(e) {
  var radius = e.accuracy ;
  L.marker(e.latlng).addTo(map)
  .bindPopup("You are within " + radius + " meters from this point").openPopup();
  L.circle(e.latlng, radius).addTo(map);
}
// var popup = L.popup().setContent('<p>Hello world!<br />This is a nice popup.</p>');

// map.on('contextmenu',function(e){
//   alert(e.latlng);
//   map.openPopup(popup);
// });

map.on('contextmenu',function(e){
  L.popup()
    .setLatLng(e.latlng)
    .setContent(`<ul class="list-group"><a href="#" class="list-group-item">Dapibus ac facilisis in</a>
                <a href="#" class="list-group-item">Morbi leo risus</a>
                <a href="#" class="list-group-item">Porta ac consectetur ac</a>
                <a href="#" class="list-group-item">Vestibulum at eros</a></ul>`)
    .openOn(map);
});

map.on('locationfound', onLocationFound);
map.locate({setView: true, minZoom: 4, maxZoom: 16});

</script>

<div class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}
