{% load leaflet_tags %}

{% leaflet_js plugins="forms" %}
{% leaflet_css plugins="forms" %}

  <style type="text/css">{% block map_css %}
      #{{ id }}_map { width: {{ map_width }}px; height: {{ map_height }}px; }
      #{{ id }}_map .aligned label { float: inherit; }
      #{{ id }}_div_map { position: relative; vertical-align: top; }
      {% if not display_raw %}#{{ id }} { display: none; }{% endif %}
      {% endblock %}
  </style>

<div id="{{ id }}_div_map">
    <div id="{{ id }}_map"></div>

    <textarea id="{{ id }}" class="vSerializedField required" cols="150" rows="10" name="{{ name }}">{{ serialized }}</textarea>
    <script type="text/javascript">
        var point = {{ serialized | safe }}
        var map = L.map('{{ id }}_map');
        // create the tile layer with correct attribution
        var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
        var osmAttrib='Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors';
        var osm = new L.TileLayer(osmUrl, {minZoom: 4, maxZoom: 12, attribution: osmAttrib});
        map.addLayer(osm);

        console.log('srid:::{{ map_srid }}');
        map.setView([point.coordinates[1], point.coordinates[0]],9);
        L.marker([point.coordinates[1], point.coordinates[0]]).addTo(map)
    </script>
</div>
